.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 5vh;
}
.popular h1{
    font-size: 50px;
    font-weight: 600;
    color: #171717;
}
.popular hr{
    width: 100px;
    height: 6px;
    border-radius: 10px;
    background-color: #252525;
}
.popular-item{
    display: flex;
    margin-top: 50px;
    gap: 30px;
}
.createNewVM{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3vw;
    cursor: pointer;
}
.createNewVM h2{
    margin-left: 10px;
}
.createNewVM img{
    width: 1.5vw;
}